.about {
    padding-bottom: 40px;

    @media (max-width: 768px) {
        margin-top: 100px;
    }
}

.about__wrapper {
    display: grid;
    
    @media (max-width: 1199px) {
        margin-top: 53px;
        gap: 30px;
    }

    @media (min-width: 900px) {
        grid-template-columns: max-content .9fr;
        gap: 40px;
        align-items: center;
        justify-content: space-between;
    }
}

.about__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 53px;
    row-gap: 25px;
    
    @media (max-width: 350px) {
        grid-template-columns: repeat(1, max-content);
        justify-content: start;
    }
    
    @media (min-width: 351px) and (max-width: 849px) {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
    }
    
}

.about__item {
    display: grid;
    align-items: center;
    gap: 18px;

    @media (max-width: 351px) {
        grid-template-columns: max-content max-content;
    }

    @media (min-width: 600px) and (max-width: 899px) {
        grid-template-columns: max-content max-content;
    }

    @media (min-width: 1200px) {
        grid-template-columns: max-content max-content;
    }
}

.about__img {
    @media (max-width: 899px) {
        order: -1;
        margin: 0 auto;
    }
}

.about__value {
    font-size: 50px;
    display: block;
    color: $corporate;
    font-weight: bold;
}

.about__text {
    line-height: 1.5em;
}