.map {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.map__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;

    &--hidden {
        display: none;
    }
}

.map__yandex {
    height: 500px;

    &--hidden {
        height: 0;
    }
}